@import '~swiper/dist/css/swiper.min.css';

.Playlists {
  margin: 10vh 0px;
}
.playlist-item {
  width: 50%;
  background: transparent;
}
.playlist-item img {
  width: 100%;
}

ul {
  list-style: none;
  padding: 0;
}
